index

<div class="card-list-container py-5">
  <% @customers.each do |customer| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
       <div class="card-body">
          <div class="row">
            <div class="col-3">
              <%= image_tag customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
            </div>
            <div class="col-9">
              <p class="card-title">
                <%= link_to(customer_path(customer.id), class:"text-dark") do  %>
                  <strong><i class="far fa-flag"></i><span> <%= customer.name %></span></strong>
                <% end %>
              </p>
               </div>
               <div id="follow-<%#= customer.id %>-ajax">
                <%#= render "shared/follow", customer: customer %>
              </div>
          </div>
        </div>
    </div>
  <% end %>
  <%#= paginate @posts %>
</div>