<% if @model == 'customer' %>
  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
  <%= render 'customers/index', customers: @records %>
<% else @model == 'posts' %>
  <h3>【Postsモデルの検索結果】検索ワード：<%= @content %></h3>
    <%= render 'posts/index', posts: @records %>
<% end %>